L3VPN scenario analysis

Provide an initial analysis for a L3VPN setup scenario in section 4.2.

Complete also the list of YANG models to be used for L2VPN/L3VPN service and tunnel setup in section 3.2.3.

**Related actions:**

- [x] #66
- [x] #67 
- [x] #56 

Sorry for being late on this. My proposal for discussion would be:
Full-mesh or Hub&Spoke L3VPN service provisioning with protected LSPs (in Core) not sharing any SRLGs. MDSC shall provide to the IP PNC the list of UNI parameters (node, port, VLAN) to identify the service access points as well as the role of each end-point (hub, spokes in the case of Hub&spoke topology) and ensure that main and backup LSPs interconnecting the different PE routers involved in the VPN are not sharing any SRLGs. The SRLG information would be available at OP PNC (imported from external GIS Database or manually configured) and made available to MDSC when performing multi-layer optimisation to set-up the L3VPN with the "SRLG free" constraint. L3NM shall be used between MDSC and IP PNC to set-up the requested L3VPN service as already mentioned in the current version. Feedback is welcome of course.

@jbouqui153 : I have few questions for clarification:

1) Since it is a multi-domain MPLS network, which options are you considering for L3VPN setup? A multi-AS option of section 10 of RFC4364 or the seamless MPLS option (https://tools.ietf.org/html/draft-ietf-mpls-seamless-mpls-07)?

2) when you say "protected LSPs (in Core)", do you mean that protection is required for the intra-domain LSPs?

@jbouqui153 - I have a comment on this.

The SRLG updated from MDSC from the OP PNC is used in the L3 VPN provisioning. The actual process of the SRLG update is independent of the L3 VPN provisioning flow.   The multi-layer optimisation can be triggered by MDSC during L3 VPN creation but this can be independently done. And MDSC may update/distribute the SRLG information obtained from the OP PNC to the IP PNC and the IP PCE. 


Some references provided by @jbrentfoster for the three options described in https://github.com/FabioPeruzzini/actn-poi/blob/master/minutes/minutes-2021-01-26.md:

https://tools.ietf.org/html/draft-farrel-spring-sr-domain-interconnect-05
https://tools.ietf.org/html/rfc8402#section-4
https://tools.ietf.org/html/draft-ietf-spring-segment-routing-central-epe-10


Hi all,

please find attached the slides presented today. Last one with Segment Routing for stitching are still work under progress and all your comments and inputs are welcome. You can add your comments directly in the slides if this results simpler so that we have all contributions there. 
[IETF draft POI v02 discussions on scenario 4.2 v092 Sent.pptx](https://github.com/FabioPeruzzini/actn-poi/files/6031172/IETF.draft.POI.v02.discussions.on.scenario.4.2.v092.Sent.pptx)



Attaching slides from yesterday's call to review inter-domain approaches for L3.
[inter-domain-examples.pptx](https://github.com/FabioPeruzzini/actn-poi/files/6079483/inter-domain-examples.pptx)


Attaching updated slide pack shared on Tuesday in our call. Main updates are on last slides for Segment Routing part. All your comments are welcome. These slides will be shared by today or tomorrow with other operators for gathering feedback.
[IETF draft POI v02 discussions on scenario 4.2 v1_02032021.pptx](https://github.com/FabioPeruzzini/actn-poi/files/6081933/IETF.draft.POI.v02.discussions.on.scenario.4.2.v1_02032021.pptx)


Example of using dual-loopbacks with BGP-LU for selective traffic steering.
[Dual_Loopback_Design_R2.pptx](https://github.com/FabioPeruzzini/actn-poi/files/6305795/Dual_Loopback_Design_R2.pptx)


[bgp-lu-interdomain-example.pptx](https://github.com/FabioPeruzzini/actn-poi/files/6407596/bgp-lu-interdomain-example.pptx)
BGP-LU Inter-domain traffic-engineering example. 

2021-05-25 ACTN POI Call

Review of the initial raw text provided in section 4.2, provided by @italobusi, @jbouqui153 , @Paolo-Volpato : 
[draft-ietf-teas-actn-poi-applicability-l3vpn@2021-05-25.docx](https://github.com/FabioPeruzzini/actn-poi/files/6538270/draft-ietf-teas-actn-poi-applicability-l3vpn%402021-05-25.docx)


 




Slide showing inter-domain diverse path setup for SR-TE 
[ACTN_MDSC_Interdomain_SR_1.0.pptx](https://github.com/FabioPeruzzini/actn-poi/files/6599336/ACTN_MDSC_Interdomain_SR_1.0.pptx)
where MDSC delegates path computation to PNC in each domain.

> Slide showing inter-domain diverse path setup for SR-TE
> [ACTN_MDSC_Interdomain_SR_1.0.pptx](https://github.com/FabioPeruzzini/actn-poi/files/6599336/ACTN_MDSC_Interdomain_SR_1.0.pptx)
> where MDSC delegates path computation to PNC in each domain.

ACTN POI call on 2021-06-01

- the slide describe the scenario where MDSC delegates intra-domain path computation to the P-PNC. The case where the MDSC performes end-to-end path computation would have only the steps 7 and 8 described in the slides
- it is not clear how P-PNC 200 can be made aware of the bandwidth allocated to the end-to-end SR-TE path initiated within P-PNC 100
- an alternative solution could be to use the binding SID: this would address also the issue above

- [ ] @jbrentfoster : Provide a slide with Binding SID scenario (#54 )

It was confirmed the agreement that for IETF 111 the target is to provide text and analysis for the end-to-end SR-TE scenario where the multi-layer/multi-domain path computation is performed by the MDSC without relying on intra-domain path computation being performed by the P-PNCs. Still to be discussed whether to consider the binding SID approach or not.

However, it is still worth exploring the possibility to rely on P-PNC for intra-domain path computation for future updates of the draft after IETF 111


**2021-09-14 ACTN POI Call**

- [ ] Review current text to check if anything is missing or requires clarification, in particular the analysis of the YANG data models to be used at the MPI and if there are any gaps