Adrian WG LC comments

> Thanks Pavan,
> 
> > To ensure everyone has sufficient time for a thorough review
> 
> Yeah, not the shortest document, and we were all busy with IETF.
> On the other hand, the journey home offered a chance to re-read.
> 
> > we are extending the Working Group Last Call (WGLC) by two weeks. The new deadline is now November 22nd, 2025.
> >
> > Please send your feedback to the working group mailing list. Positive affirmations
> > are especially helpful for gauging the group's readiness, so we encourage you to
> > send a statement of support, even if you have no other comments. Thank you for
> > your valuable contributions to this process.
> 
> I think this is pretty comprehensive and reads well.
> 
> Thanks to the authors for Section 8.
> 
> I had a few minor thoughts that might be addressed as the document moves forward, but I have no objection to a publication request.
> 
> I was a bit worried by the appearance of “Network Service” in section 1.1. I thought this might have borrowed from RFC 8309, page 5. But your definition seems (to me) to be something substantially different. While 8309 is describing the function offered to the customer, your definition seems to focus on “configuration”. I wonder whether, without loss of your intention, or need for any other changes in the document, whether you might change as follows (note also some nits in the changes):
> OLD
>    Network service:  The Provider Edge (PE) to PE configuration,
>      including both the network service layer (VRFs, RT import/export
>      policies configuration) and the network transport layer (e.g.
>     RSVP-TE Label Switched Paths (LSPs).  This includes the
>      configuration (on the PE side) of the interface towards the CE
>      (e.g. VLAN, IP address, routing protocol, etc.).
> NEW
>    Network service:  Per [RFC8309], a network service provides
>      Connectivity between customer sites and the Internet or between
>      customer sites across the network operator's network and across
>      the Internet.  In the context of this document, a network service 
>      is enabled by Provider Edge (PE) to PE configuration, including
>      both the network service layer (VRFs, RT import/export policies
>      configuration) and the network transport layer (e.g., RSVP-TE
>     Label Switched Paths (LSPs)).  This includes the configuration
>     (on the PE side) of the interface towards the CE (e.g., VLAN, IP
>     address, routing protocol, etc.).
> END
> 
> I’m less bothered by you including definitions of concepts such as port, interface, and link. But you might look back at RFC 4397 to see whether you could have borrowed from there.
> 
> There are four instances of “P-PNC domain” but you only define “PNC domain”. Indeed, “P-PNC” doesn’t get explained until section 2 despite being used before that – perhaps add P-PNC and O-PNC to the Terminology?
> 
> The discussion of “isolation” in 2.1.1 does not seem to have kept up with the debate that went on as RFC 9543 and RFC 9732 were progressed. The terms hard and soft isolation were originally used, but the text was considerably modified before publication. I would recommend not reinventing hard and soft isolation unless you must.
> 
> There are a lot of normative and informative references to Internet-Drafts. This is not necessarily a bad thing, and the draft may just languish in the RFC editor Queue while these are all completed. A question to the authors, however, is what would happen if one of those drafts incurs significant change before it progresses to the Queue? Is it possible? Who will spot it? Would this draft have to return to the WG?
> 
> Cheers,
> Adrian
> 

See: https://mailarchive.ietf.org/arch/msg/teas/JZG43oaXHv0H_Wwvcj8Bdt8UFLo/

**[ACTN POI Applicability bi-weekly call (December 16, 2025)](https://github.com/IETF-TEAS-WG/actn-poi/wiki/minutes-2025-12-16)**

> Thanks Pavan,
> 
> > To ensure everyone has sufficient time for a thorough review
> 
> Yeah, not the shortest document, and we were all busy with IETF.
> On the other hand, the journey home offered a chance to re-read.
> 
> > we are extending the Working Group Last Call (WGLC) by two weeks. The new deadline is now November 22nd, 2025.
> >
> > Please send your feedback to the working group mailing list. Positive affirmations
> > are especially helpful for gauging the group's readiness, so we encourage you to
> > send a statement of support, even if you have no other comments. Thank you for
> > your valuable contributions to this process.
> 
> I think this is pretty comprehensive and reads well.
> 
> Thanks to the authors for Section 8.
> 
> I had a few minor thoughts that might be addressed as the document moves forward, but I have no objection to a publication request.
> 
> I was a bit worried by the appearance of “Network Service” in section 1.1. I thought this might have borrowed from RFC 8309, page 5. But your definition seems (to me) to be something substantially different. While 8309 is describing the function offered to the customer, your definition seems to focus on “configuration”. I wonder whether, without loss of your intention, or need for any other changes in the document, whether you might change as follows (note also some nits in the changes):
> OLD
>    Network service:  The Provider Edge (PE) to PE configuration,
>      including both the network service layer (VRFs, RT import/export
>      policies configuration) and the network transport layer (e.g.
>     RSVP-TE Label Switched Paths (LSPs).  This includes the
>      configuration (on the PE side) of the interface towards the CE
>      (e.g. VLAN, IP address, routing protocol, etc.).
> NEW
>    Network service:  Per [RFC8309], a network service provides
>      Connectivity between customer sites and the Internet or between
>      customer sites across the network operator's network and across
>      the Internet.  In the context of this document, a network service 
>      is enabled by Provider Edge (PE) to PE configuration, including
>      both the network service layer (VRFs, RT import/export policies
>      configuration) and the network transport layer (e.g., RSVP-TE
>     Label Switched Paths (LSPs)).  This includes the configuration
>     (on the PE side) of the interface towards the CE (e.g., VLAN, IP
>     address, routing protocol, etc.).
> END
> 

Authors: We have updated the text as proposed

- [x] @italobusi Update the text as proposed by Adrian

> I’m less bothered by you including definitions of concepts such as port, interface, and link. But you might look back at RFC 4397 to see whether you could have borrowed from there.
> 

Authors: We have update the text based on our understanding of RFC 4397:
  - an interface in the draft is a Bidirectional link interface as defined in section 3.6.1 of RFC4397
  - a link in the draft is a Bidirectional data link as defined in section 3.5.1 of RFC4397
  - there is no port term defined in RFC 4397
Please check and let us know if our understanding is correct.

- [x]  @italobusi Update the definitions of interface and link as per our understanding above
  
> There are four instances of “P-PNC domain” but you only define “PNC domain”. Indeed, “P-PNC” doesn’t get explained until section 2 despite being used before that – perhaps add P-PNC and O-PNC to the Terminology?
> 

Authors: Added O-PNC and P-PNC to the terminology section.

> The discussion of “isolation” in 2.1.1 does not seem to have kept up with the debate that went on as RFC 9543 and RFC 9732 were progressed. The terms hard and soft isolation were originally used, but the text was considerably modified before publication. I would recommend not reinventing hard and soft isolation unless you must.
> 

Authors: We have rephrase the sentence to avoid the need to reinventing hard and soft isolation terms

> There are a lot of normative and informative references to Internet-Drafts. This is not necessarily a bad thing, and the draft may just languish in the RFC editor Queue while these are all completed. A question to the authors, however, is what would happen if one of those drafts incurs significant change before it progresses to the Queue? Is it possible? Who will spot it? Would this draft have to return to the WG?
> 

See: #132 

> Cheers,
> Adrian
> 


Initial reply sent: https://mailarchive.ietf.org/arch/msg/teas/h9VOmeDSwCJ9gtAErTwvPt4n0-o/

Pending resolution of #132 to address the last comment

- [ ] @italobusi send a reply after #132 has been addressed