Protection options with SR-TE

[**2022-02-22 ACTN POI Call (Slot 2)**](https://github.com/FabioPeruzzini/actn-poi/blob/master/minutes/minutes-2022-02-22.md)

See: https://demo.hedgedoc.org/Lt4DCI9dRWe1mFQbPtZaPg

The comment on WDM terminology (WDM node, ROADM, ...) requires another review cycle so it has been tracked as a new issue #78 planned to be addressed after IETF 113

The following comments require further discussion:

* Figures for link discovery cases would help
* SR-TE bandwidth
* LLDP: Chassis ID versus System Name TLVs
* Explicit path configuration
* Who configures IP links: P-PNC, MDSC or either (on a case-by-case)
* Underlay/overlay terminology

#### Figures for link discovery cases would help

An updated version of the slides have been uploaded on GitHub:

https://github.com/FabioPeruzzini/actn-poi/files/8111703/inter-domain-link-discovery-03.pptx

A typo has been spotted on the latest slides. A further updated version of the slides has been uploaded on GitHub:

[inter-domain-link-discovery-04.pptx](https://github.com/FabioPeruzzini/actn-poi/files/8119535/inter-domain-link-discovery-04.pptx)

- [ ] Gabriele: to prepare an ASCII version of slides 3, 5, 9 and, optionally, 7 for inclusion, as examples, in the draft

- [ ] Italo: update the draft description referencing the examples in the slides

#### SR-TE bandwidth

The current assumption is that P-PNC is responsible to configure the SR policies on the routers and to manage the bandwidth within its domain. There is therefore the need for a "higher-level" model, similar to the TE Tunnel model, between the MDSC and the P-PNC.

The draft assumes that the TE Tunnel model is used since it already provides the concepts of paths, path constraints and bandwidth. However same gaps have been already identified: lack of multiple paths and lack of SR-TE technology attributes.

In section 4.2.3, it is said that the MDSC configures TI-LFA for a given SR-TE path. However, TI-LFA is pre-configured by the P-PNC for local protection, independently from the SR-TE paths. An unprotected adjacency SID can be used if TI-LFA local protection is not required.

- [ ] Brent: to provide some text for section 4.2.3 about the protection options: to be further discussed whether to place this text in section 4.2.3 or in section 2.2.2

#### LLDP: Chassis ID versus System Name TLVs

- [ ] Italo: update the text to clarify that:
  - routers and optical NEs should report all the relevant LLDP information (including System Name is used)
  - the encoding of the LLDP information is implementation-specific, but the encoding rules need to be consistent across all the PNCs. The suggestion is to encode the Chassis ID and Port ID since they are mandatory TLVs.

#### Explicit path configuration

- [ ] Paolo: to discuss offline via mail some text proposal for section 2.2

#### Who configures IP links: P-PNC, MDSC or either (on a case-by-case)

Single-layer intra-domain IP link could be configured by the P-PNC and reported to the MDSC or by the MDSC. The drawback of the first option is that we can have different work-flows depending on whether the links are intra-domain versus inter-domain or single-layer versus multi-layer

Fabio: today the single-layer intra-domain IP links are configured by the P-PNC

- [ ] Jeff: get some feedbacks

Single-layer inter-domain IP link could be configured by P-PNCs with some offline negotiation or by MDSC.

Multi-layer intra-domain IP link could be configured by the P-PNC or by the MDSC.

- [ ] Continue discussion of this issue offline

#### Additional comments

- [ ] Italo: Update the reference to L3NM draft with a reference to RFC9182

It would be better to keep L3-TE Topo at the P-PNC MPI.

However, further investigation is needed since L3-TE Topo does not seem needed for SR-TE topology but it may be useful if also IP/MPLS is supported in addition to SR-TE. The draft describes the models which at least are needed to support the analyzed scenarios so it does not preclude having other models (e.g., L3-TE Topo), if needed for other scenarios.

- [ ] Italo: check with TEAS experts about L3-TE Topo for SR-TE

_Originally posted by @italobusi in https://github.com/FabioPeruzzini/actn-poi/issues/69#issuecomment-1048125960_

I would suggest the following text referencing RFC 9256:

In addition to TI-LFA, [RFC 9256 section 9] describes additional mechanisms for protection.  A dedicated backup policy can be instantiated for local protection and configured for fast-reroute [section 9.2]. Or, an additional candidate path within the SR Policy can be configured as a backup with various options for path protection [section 9.3].

**[2023-01-10 ACTN POI Call (Slot 2)](https://github.com/FabioPeruzzini/actn-poi/blob/master/minutes/minutes-2023-01-10.md)**

> * [x]  Brent: to provide some text for section 4.2.3 about the protection options: to be further discussed whether to place this text in section 4.2.3 or in section 2.2.2

The text proposed in https://github.com/FabioPeruzzini/actn-poi/issues/80#issuecomment-1377399770 has been reviewed and agreed. It may be useful to add also similar text for MPLS-TE and generalize the description (in line with the discussion in issue #88)

- [ ] @jbrentfoster provide a similar text proposal for the MPLS-TE case

