Service terminology

Check for a better term to define the network services. It may be worthwhile defining what are the customer and network services.

It may be worthwhile checking also the definitions in RFC8309.

See Editor's note in section 2 of the draft.

Section 6.1 of RFC8309 provides text that can help to clarify definitions with respect MDSC when acting as Network Orchestrator as described in section 2 ,page 7.  
"As previously noted, [RFC8199] provides a classification of YANG
   modules.  It introduces the term "Network Service YANG Module" to
   identify the type of module used to "describe the configuration,
   state data, operations, and notifications of abstract representations
   of services implemented on one or multiple network elements."  These
   modules are used to construct the service delivery models as
   described in this document; that is, they are the modules used on the
   interface between the service orchestrator or OSS/BSS and the network
   orchestrator"


Here is the proposal: "Following terminology is used in this document:
- customer service is referring to the end-to-end service from CE to CE
- network service is referring to the PE to PE configuration including both the network service layer (VRFs, RT import/export policies configuration) and the network transport layer (e.g. RSVP-TE LSPs). This includes the configuration (on PE side) of the interface towards the CE (e.g. VLAN, IP adress, routing protocol etc.).
OSS/Orchestration layer requests the creation of a new "network service" to the MDSC specifying the end-points (PEs), interfaces towards the CEs as well as the network service SLA and then proceeds to configuring accordingly the end-to-end "customer service" between the CEs in the case of an operator managed service

- [ ] @italobusi : update the text in PR #69 


> * [x]  @italobusi : update the text in PR [Text review and alignment with agreed scope #69](https://github.com/FabioPeruzzini/actn-poi/pull/69)

See PR #69 